body, html{
    height: 100vh;
    background-color: rgb(68, 68, 68);
    /* background-image: linear-gradient(black brown); */
    /* background-size: cover; */
    color: white
}

.my-nav, .my-nav>*{
    font-weight: bold;
    color: white !important;
    background-color: black !important;
    
}

.my-nav a{
    color: white;
}