<link href="{{url_for('static',filename='css/shop_nav.css')}}" rel="stylesheet">


<ul class="nav justify-content-center">
    <li>_</li>
  <li class="nav-item">
    <a class="nav-item nav-link text-white" href="{{url_for('api.view_shop')}}">All Items</a>
  </li>
  <li>_</li>
  <li class="nav-item">
    <a class="nav-item nav-link text-white" href="{{url_for('api.shop_weapons')}}">Weapons</a>
  </li>
    <li>_</li>
  <li class="nav-item">
    <a class="nav-item nav-link text-white" href="{{url_for('api.shop_armor')}}">Armor </a>
  </li>
  <li>_</li>
  <li class="nav-item">
    <a class="nav-item nav-link text-white" href="{{url_for('api.shop_potions')}}">Potions</a>
  </li>
  <li class="nav-item">_</li>
</ul>