{% extends 'base.html.j2' %}

{% block title %}
    Main Page
{% endblock %}

{% block css%}
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">
    {% endblock%}

{# {% block css %}
main
{% endblock %} #}

{% block content %}
<br>
  <h1> Shadow Shop </h1>
  <br> 
  <p> I sell all sorts of things!</p>

  <p> Weapons from the far reaches of various planes! How do you want to slay 
  the nightmares that plague you? Perhaps you wish to behead your neighbor for taking
   your chickens? Or carry for 'self defense?'</p>

  <p> Armor made from the finest of crafts-people! Protect from swords, knives, 
  arrows, bullets, magic, tooth and claw! Don't mind the holes in that one, it's 
  meant to be there. What, you think I found these off corpses? Bah! Don't be preposterous! </p>

  <p> Potions! So many potions! Health, mana, grow big or shrink small!
  Potions of fire, water, ice, lightning, poison! Don't worry, I made themself! Mostly... </p>



{% endblock %}